{{ define "main" }}
{{ $menu := .Site.Params.menu }}
{{ $menu_entry := index (first 1 (where $menu "URL" (lower .Title))) 0 }}
{{ $menu_name := $menu_entry.Name }}
<h1 class="title">{{ $menu_name }}</h1>
<ul class="entries">
    <h3 style="text-align: center;"></h3>
    {{ range sort .Pages "File.Path" }}
        <li>
            {{ $depth := sub (len (split .File.Path "/")) 2 }}
            {{ $depth = cond (lt $depth 0) 0 $depth }}
            <span class="title" style="padding-left: {{ mul $depth 2 }}ch;">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </span>
        </li>
    {{ end }}
</ul>
{{ end }}
